<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://theunbrickable.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>theunbrickable.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>theunbrickable</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$theunbrickable</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="UnbrickableDatabase" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:vgzuorov5g.database.windows.net,1433;Initial Catalog=unbrickable;User ID=iamunbrickable@vgzuorov5g;Password=th3_breakerLl@ma09" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Unbrickable.Models.UnbrickableDatabase, Unbrickable" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="UnbrickableStorage" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="DefaultEndpointsProtocol=https;AccountName=unbrickable;AccountKey=JnzPG2sgFMsxB1E4Qu9Bx2TlhyB+yHn7vJ+udOkpFrPxC1tANyuengtOoie3D+aqSAVMmALG5Vre/m2g1VGzMQ==" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\UnbrickableStorage_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="DefaultEndpointsProtocol=https;AccountName=unbrickable;AccountKey=JnzPG2sgFMsxB1E4Qu9Bx2TlhyB+yHn7vJ+udOkpFrPxC1tANyuengtOoie3D+aqSAVMmALG5Vre/m2g1VGzMQ==" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)UnbrickableDatabase-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.UnbrickableDatabase.csdl|res://*/Models.UnbrickableDatabase.ssdl|res://*/Models.UnbrickableDatabase.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:vgzuorov5g.database.windows.net,1433;Initial Catalog=unbrickable;User ID=iamunbrickable@vgzuorov5g;Password=th3_breakerLl@ma09"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>